
* {
    box-sizing: border-box;
}
#root {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: #18181b; 
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

body.fade-out {
    opacity: 0;
}