html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #161616;
  display: flex;
  overflow: hidden;
  height: 100vh;
}

/*================ ESQUERDA ===================*/
.esquerda {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textoCadastro {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 30%;
}

.textoCadastro p {
  font-family: "Helvetica", sans-serif;
  font-size: 5vh;
  color: #eff4da;
  font-weight: 400;
  padding-left: 5%;
}

.textoCadastro span {
  color: #7530b1;
  font-size: 5.5vh;
  font-weight: 600;
}

.imgCadastro {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagemFodonaManuela1 {
  width: 60%;
  transform: translateY(6%);
  display: flex;
}

.imagemFodonaManuela2 {
  width: 55%;
  transform: translateY(6%);
  display: none;
}

/*============== DIREITA =============*/
.direita {
  background-color: #1d1d1d;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*BOTÃO VOLTAR*/
.voltarIndex {
  margin-left: auto !important;
  margin: 2%;
  border-radius: 3vh;
  width: 4.7vh;
  aspect-ratio: 1/1;
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8%;
}

.voltarIndex i {
  font-size: 1.7vh;
  color: white;
}

.voltarIndex:hover {
  cursor: pointer;
  margin: 1.8%;
  margin-bottom: 7.9%;
  width: 5vh;
}

.voltarIndex:hover i {
  font-size: 2vh;
}

/*TÍTULO*/
.tituloCadastro {
  color: #f2f5e8;
  margin-bottom: 3%;
  align-self: center;
  font-family: "Helvetica", sans-serif !important;
}

/*FORMS*/
.formCadastro {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
}

.formCadastro input[type="email"],
.formCadastro input[type="text"],
.formCadastro input[type="password"] {
  display: flex;
  justify-content: center;
  margin-bottom: 3% !important;
  width: 100%;
  height: 5vh;
  all: unset;
  box-sizing: border-box;
  background-color: rgb(39, 39, 39);
  color: white !important;
  font-size: 1.7vh;
  font-weight: lighter;
  border-radius: 3vh;
  letter-spacing: 0.05vh;
  padding-left: 2%;
  padding-right: 2%;
  font-family: "Helvetica", sans-serif !important;
}

.formCadastro input[type="email"],
.formCadastro input[type="text"],
.formCadastro input[type="password"] {
  height: 5vh;
  width: 100%;
}

.formCadastro input[type="email"]:focus {
  border: 0.1vh solid #7530b1;
}

.formCadastro input[type="password"]:focus {
  border: 0.1vh solid #7530b1;
}

.formCadastro input[type="text"]:focus {
  border: 0.1vh solid #7530b1;
}

/*TIPO USUARIO*/
.tipoUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3% !important;
  margin-left: 1vh;
}

.tipoUser p {
  font-family: "Helvetica", sans-serif;
  font-size: 1.6vh;
  color: #eff4da;
  font-weight: 500;
  margin: 0;
  margin-left: 0.5vh;
}

.opcaoUser {
  display: flex;
  align-items: center;
  margin-right: 3vh;
  cursor: pointer;
}

.opcaoUser input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.4vh;
  aspect-ratio: 1/1;
  border: 0.1vh solid #aaa;
  border-radius: 50%;
  background-color: rgb(39, 39, 39);
  cursor: pointer;
}

.opcaoUser input[type="radio"]:checked {
  background-color: #7530b1;
  border-color: #7530b1;
}

/*ACEITAR TERMOS*/
.formCadastro input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  margin-left: 1vh;
  width: 1.6vh;
  aspect-ratio: 1/1;
  background-color: rgb(39, 39, 39);
  border: 0.1vh solid #aaa;
  border-radius: 0.2vh;
}

.formCadastro input[type="checkbox"]:checked {
  background-color: #7530b1;
}

.aceitarTermos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3% !important;
}

.aceitarTermos p {
  font-family: "Helvetica", sans-serif;
  font-size: 1.6vh;
  color: #eff4da;
  font-weight: lighter;
  margin-left: 1vh !important;
  margin: 0;
}

.aceitarTermos span {
  color: #7530b1;
}

/*BOTÃO*/
.formCadastro input[type="submit"] {
  display: flex;
  justify-content: center;
  margin-bottom: 3% !important;
  width: 20%;
  height: 5vh;
  box-sizing: border-box;
  background-color: rgb(39, 39, 39);
  color: white !important;
  font-size: 1.7vh;
  font-weight: lighter;
  border-radius: 3vh;
  letter-spacing: 0.05vh;
  font-family: "Helvetica", sans-serif !important;
  border: 0;
}

.formCadastro input[type="submit"]:hover {
  border: 0.1vh solid #7530b1;
}

/*=====================CAMPOS ADM=========================*/
.camposAdministrador {
  display: none;
  flex-direction: column;
}

.camposAdministrador input {
  display: flex;
  justify-content: center;
  margin-bottom: 3% !important;
  width: 100%;
  height: 5vh;
  all: unset;
  box-sizing: border-box;
  background-color: rgb(39, 39, 39);
  color: white !important;
  font-size: 1.7vh;
  font-weight: lighter;
  border-radius: 3vh;
  letter-spacing: 0.05vh;
  padding-left: 2%;
  padding-right: 2%;
  font-family: "Helvetica", sans-serif !important;
}

.camposAdministrador input[type="text"] {
  height: 5vh;
  width: 100%;
}

.camposAdministrador input[type="text"]:focus {
  border: 0.1vh solid #7530b1;
}

.infoAdm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3%;
}
